<po-page-detail
  (p-back)="back()"
  (p-remove)="remove()"
  (p-edit)="edit()"
  p-title="Detalhes do Registro"
>
  <po-divider p-label="Dados NFS-e do Tomador"></po-divider>

  <div class="po-row">
    <po-info class="po-md-5" p-label="ID" [p-value]="nfseData.id"> </po-info>

    <po-info class="po-md-5" p-label="Satus" [p-value]="nfseData.status">
    </po-info>
    <po-info class="po-md-5" p-label="Numero NFS-e" [p-value]="nfseData.numero">
    </po-info>
    <po-info
      class="po-md-5"
      p-label="data_emissao"
      [p-value]="nfseData.codigo_verificacao"
    >
    </po-info>
    <po-info class="po-md-5" p-label="Link URL" [p-value]="nfseData.link_url">
    </po-info>
    <po-info
      class="po-md-5"
      p-label="data_emissao"
      [p-value]="nfseData.data_emissao"
    >
    </po-info>
    <po-info class="po-md-5" p-label="Ambiente" [p-value]="nfseData.ambiente">
    </po-info>
    <po-info
      class="po-md-5"
      p-label="referencia"
      [p-value]="nfseData.referencia"
    >
    </po-info>

    <po-divider class="po-sm-12" p-label="Dados NFS-e Prestador"></po-divider>

    <po-info
      class="po-md-5"
      p-label="CNPJ / CPF"
      [p-value]="nfseData.declaracao_prestacao_servico.prestador.cpf_cnpj"
    >
    </po-info>

    <po-info
      class="po-md-5"
      p-label="Incrição Municipal"
      [p-value]="
        nfseData.declaracao_prestacao_servico.prestador.inscricao_municipal
      "
    >
    </po-info>

    <po-info
      class="po-md-5"
      p-label="Razão Social"
      [p-value]="
        nfseData.declaracao_prestacao_servico.prestador.nome_razao_social
      "
    >
    </po-info>

    <po-info
      class="po-md-5"
      p-label="Nome Fantasia"
      [p-value]="nfseData.declaracao_prestacao_servico.prestador.nome_fantasia"
    >
    </po-info>

    <po-info
      class="po-md-5"
      p-label="Telefone"
      [p-value]="nfseData.declaracao_prestacao_servico.prestador.fone"
    >
    </po-info>

    <po-info
      class="po-md-5"
      p-label="E-mail"
      [p-value]="nfseData.declaracao_prestacao_servico.prestador.email"
    >
    </po-info>
  </div>
</po-page-detail>
