<po-page-detail (p-back)="back()" (p-remove)="remove()" (p-edit)="edit()" p-title="Detalhes do empresa">

  <po-divider p-label="Dados pessoais"></po-divider>

  <div class="po-row">
    <po-info class="po-md-5" p-label="Código" [p-value]="empresa.sfj_pessoa">
    </po-info>

    <po-info class="po-md-5" p-label="Nome" [p-value]="empresa.sfj_nome">
    </po-info>

    <po-info class="po-md-5" p-label="Telefone" p-mask="(99) 99999?-9999" [p-value]="empresa.sfj_fone">
    </po-info>
  </div>

</po-page-detail>