<po-page-edit (p-save)="save()" (p-cancel)="cancel()" [p-title]="title" [p-disable-submit]="formCliente.invalid">

  <form #formCliente="ngForm">

    <po-divider class="po-sm-12" p-label="Dados Empresarial"></po-divider>

    <po-input class="po-md-5" name="nome_razao_social" [(ngModel)]="empresa.cpf_cnpj" p-label="Código"
      [p-disabled]="true">
    </po-input>

    <po-input class="po-md-5" name="nome_razao_social" [(ngModel)]="empresa.cpf_cnpj" p-required
      p-label="Nome completo">
    </po-input>

    <po-input class="po-md-5" name="sfj_fone" [(ngModel)]="empresa.cpf_cnpj" p-label="Telefone"
      p-mask="(99) 99999?-9999">
    </po-input>

  </form>

</po-page-edit>