<po-page-edit (p-save)="save()" (p-cancel)="cancel()" [p-title]="cpf_cnpj" [p-disable-submit]="formCliente.invalid">

  <form #formCliente="ngForm">

    <po-divider class="po-sm-12" p-label="Dados Empresarial"></po-divider>

    <po-input class="po-md-5" name="nome_razao_social" [(ngModel)]="empresas.nome_razao_social"
      p-label="Nome / Razão Social" [p-disabled]="false">
    </po-input>
    <po-input class="po-md-5" name="nome_fantasia" [(ngModel)]="empresas.nome_fantasia" p-required
      p-label="Nome Fantasia">
    </po-input>
    <po-input class="po-md-5" name="cpf_cnpj" [(ngModel)]="empresas.cpf_cnpj" p-required p-label="CNPJ"
      p-mask="99.999.999/9999-99" [p-disabled]="false">
    </po-input>
    <po-input class="po-md-5" name="email" [(ngModel)]="empresas.email" p-required p-label="Email">
    </po-input>
    <po-input class="po-md-5" name="empresa.fone" [(ngModel)]="empresas.fone" p-label="Telefone"
      p-mask="(99) 99999?-9999">
    </po-input>

    <po-divider class="po-sm-12" p-label="Endereço"></po-divider>

    <po-input class="po-md-5" name="endereco_logradouro" [(ngModel)]="empresas.endereco_logradouro" p-required
      p-label="Logradouro">
    </po-input>
    <po-input class="po-md-5" name="endereco_numero" [(ngModel)]="empresas.endereco_numero" p-required p-label="Numero">
    </po-input>

    <po-input class="po-md-5" name="endereco_bairro" [(ngModel)]="empresas.endereco_bairro" p-required p-label="Bairro">
    </po-input>

    <po-input class="po-md-5" name="endereco_codigo_municipio" [(ngModel)]="empresas.endereco_codigo_municipio"
      p-required p-label="Código Municipio">
    </po-input>

    <po-input class="po-md-5" name="endereco_cidade" [(ngModel)]="empresas.endereco_cidade" p-required p-label="Cidade">
    </po-input>

    <po-input class="po-md-5" name="endereco_uf" [(ngModel)]="empresas.endereco_uf" p-required p-label="UF">
    </po-input>

    <po-input class="po-md-5" name="endereco_codigo_pais" [(ngModel)]="empresas.endereco_codigo_pais" p-required
      p-label="Código Pais">
    </po-input>

    <po-input class="po-md-5" name="endereco_pais" [(ngModel)]="empresas.endereco_pais" p-required p-label="Nome Pais">
    </po-input>

    <po-input class="po-md-5" name="endereco_cep" [(ngModel)]="empresas.endereco_cep" p-required p-label="CEP">
    </po-input>

  </form>

</po-page-edit>